@model EspirituSantoApp.Models.Cronograma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cronograma</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cron_FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cron_FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cron_FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cron_FechaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cron_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
