@model IEnumerable<EspirituSantoApp.Models.Cronograma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cron_FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cron_FechaFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cron_FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cron_FechaFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cron_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cron_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cron_ID })
        </td>
    </tr>
}

</table>
