@model IEnumerable<EspirituSantoApp.Models.Grado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grado_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado_Anio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grado_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado_Anio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Grado_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Grado_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Grado_ID })
        </td>
    </tr>
}

</table>
