@model EspirituSantoApp.Models.Curso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Curso</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CursoID)

        <div class="form-group">
            @Html.LabelFor(model => model.Cur_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cur_Nombre)
                @Html.ValidationMessageFor(model => model.Cur_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cur_CuposDisp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cur_CuposDisp)
                @Html.ValidationMessageFor(model => model.Cur_CuposDisp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cur_Paralelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cur_Paralelo)
                @Html.ValidationMessageFor(model => model.Cur_Paralelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aula_ID, "Aula_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Aula_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Aula_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grado_ID, "Grado_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Grado_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Grado_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
