@model IEnumerable<EspirituSantoApp.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aula.Aula_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado.Grado_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cur_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cur_CuposDisp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cur_Paralelo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aula.Aula_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado.Grado_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cur_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cur_CuposDisp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cur_Paralelo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoID })
        </td>
    </tr>
}

</table>
